@font-face {
  font-family: 'Poppins';
}

body {
  font-family: 'Poppins' sans-serif !important;
}

.label-color-signin::v-deep.v-text-field.v-text-field--solo .v-label {
  color: rgba(0, 0, 0, 0.16) !important;
}

.v-label.theme--light {
  color: rgba(0, 0, 0, 0.16) !important;
}

.label-color-signin::v-deep.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16) !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16) !important;
}

.custom-active{
  font-weight: bold !important;
}
