ui:
  image: "node:12"
  volumes:
    - "/home/node/app/node_modules/"
    - ".:/home/node/app"
  environment:
    NODE_ENV: development
    HOST: "0.0.0.0"
    PORT: "8080"
  ports:
    - "8080:8080"
  working_dir: "/home/node/app"
  command: bash -c "yarn && yarn dev"
