/*
 * VUETIFY
 */
.v-application a {
  text-decoration: none;
}

// FONTS
//*,
.theme--light.v-btn.grey,
.theme--light.v-application,
.theme--light.v-input input,
.theme--light.v-input textarea,
.theme--light.v-date-picker-header
  .v-date-picker-header__value:not(.v-date-picker-header__value--disabled)
  button:not(:hover):not(:focus),
.theme--light.v-radio .v-label {
  color: var(--v-black-base);
}

.error--text,
.error--text * {
  color: var(--v-error-base) !important;
}

/*
 * DATEPICKER
 */
// Default datepicker has the header fonts in white
.theme--light .v-date-picker-title__date div,
.theme--light .v-date-picker-title__year {
  color: #ffffff;
}

.theme--light .v-date-picker-table .v-btn__content {
  font-weight: normal;
}

/*
 * IMG
 */
.v-image__placeholder {
  z-index: 0;
}

/*
 * INPUT
 */
.theme--light.v-input .v-input__slot {
  min-height: 60px;
}

/*
 * OVERLAY
 */
.v-overlay--active .v-overlay__scrim {
  opacity: 0.9 !important;
  background-color: #242323 !important;
  border-color: #242323 !important;
}

/*
 * RADIO
 */
.theme--light.v-radio .v-label {
  opacity: 2.49;
}

.theme--light.v-radio.v-item--active .v-label {
  font-weight: bold !important;
}
