@import "../variables/globals";

/**
 * Official doc
 * https://vuetifyjs.com/en/features/sass-variables/#variable-api
 */

/**
 * VUETIFY
 */
$body-font-family: $main-font;
$line-height-root: 1.2;

/*
 * BUTTONS
 */
$btn-font-weight: bold
