/* VENDOR */
/* import them directly into nuxt.config.js */

/* GLOBAL */
* {
  color: $pg-black;
  font-family: "Poppins", sans-serif !important;
}

.v-application a {
  text-decoration: none;
}

// Default links have primary color
.black--link,

// Default inputs have black as color
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: $pg-black !important;
}

// Default datepicker has the header fonts in white
.v-date-picker-title__date div,
.v-date-picker-title__year {
  color: #ffffff;
}

.clickable {
  cursor: pointer;
}

.grayscale {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

/* COMPONENTS */
.green-line {
  height: 1rem;
  width: 100%;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.12);
}

.green-line-1 {
  background-color: var(--v-primary-base);
}

.green-line-2 {
  background-color: #dce7b5;
}


.v-label {
  color: $pg-black;
  opacity: 0.49;
  font-size: 14px;
}

.v-btn,
.theme--light.v-btn,
.v-btn__content {
  font-weight: bold;
}

.w-100 {
  width: 100% !important;
}

.category-text {
  font-size: 1.0rem !important;
  position: relative;
  z-index: 1;
  &::after {
    width: 115%;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: -7.5%;
    content: "";
    z-index: -1;
    border-bottom: 11px solid var(--bgColor);
    border-radius: 7px;
  }
}
