/* VENDOR */
@import "~vue-snotify/styles/material";

/* GLOBAL */
.v-application * {
  font-family: 'Poppins', sans-serif !important;
}

.v-application a {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}
