.cancellation-icon {
  height: 120px;
  object-fit: contain;
}

.cancellation-title {
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 25px;
  line-height: 60px;
}

.btn-text ::v-deep .v-btn__content{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #707070;

  &-header {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.final-message {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #707070;
}