// Shepherd Js Overrides
div.shepherd-element {
  width: min(calc(100dvw - 10px), 500px);
  max-width: 500px;
  z-index: 15000;
}

div.shepherd-element, div.shepherd-element .shepherd-content {
  border-radius: 24px !important;
}
.shepherd-text {
  display: none;
}

div.shepherd-element .shepherd-arrow {
  width: 88px !important;
  height: 88px !important;
  padding: 28px;
}

.shepherd-arrow::before {
  width: 32px !important;
  height: 32px !important;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.32);
}

.shepherd-element[data-popper-placement^='top'] > .shepherd-arrow {
  bottom: -44px !important;
}

.shepherd-element[data-popper-placement^='bottom'] > .shepherd-arrow {
  top: -44px !important;
}

.shepherd-element[data-popper-placement^='left'] > .shepherd-arrow {
  right: -44px !important;
}

.shepherd-element[data-popper-placement^='right'] > .shepherd-arrow {
  left: -44px !important;
}