.pg-letter-day {
  &-row {
    position: absolute;
    top: -70px;
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  &-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #68C453;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.18);
    height: 100%;
    width: 100%;
  }

  &-outer-light {
    background-color: white;
  }

  &-size {
    height: var(--pg-letter-day-size);
    width: var(--pg-letter-day-size);
  }

  &-inner {
    width: 87%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #B2E68D;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.18);
    user-select: none;
  }

  &-inner-background {
    background-image: url("~@/assets/svg/colorful-circle.svg");
    background-position: center;
  }

  &-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    height: 85%;
    width: 85%;
  }

  &-letter {
    color: var(--v-accent-base);
    //font-size: 49px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
  }

  &-number {
    color: var(--v-accent-base);
    //font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    margin-top: 6px;
  }

  &-number-light {
    color: #BFBFF7;
  }
}
